<p id="notice"><%= notice %></p>

<h1>Trending Now</h1>

<table>
  <tbody>
    <% @products.each do |product| %>
     
   <div class="container">
        <img src="<%= product.image_url %>" height="450" width="275"><br> 
        <p><%= product.title %></p>
<!--<p><%= product.description %></p> -->
        
        <p>$<%= product.price %>.00</p>
        <p><%= product.category %></p>
        <p><%= link_to 'Show', product %></p> 
        <!-- <p><%= link_to 'Edit', edit_product_path(product) %></p>
        <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
        <p><a href="/cart/<%= product.id %>">Add To Cart</a></p>
          </div>
    <% end %>
  </tbody>
</table>

<br>
<footer>
      <div class="container">
        <%= link_to 'New Product', new_product_path %>
      </div>
    </footer>

